<div class="all-content">
  
<div id="header">
  <i class="left-icon-header fa fa-th fa-5x"></i>
  <span id="footer-text">
    CityLab Angular Project
  </span>
  </div>
  
  <div class="container">
      <div class="left-content">
          left content
      </div>
      <div class="table-container">
      <app-countries-table></app-countries-table>
    </div>
    </div>
  
    <div id="footer">
    <i class="fa fa-user fa-5x"></i>
    <i class="fa fa-dashboard fa-5x"></i>
    <i class="fa fa-money fa-5x"></i>
    <i class="fa fa-home fa-5x"></i>
  </div>
  
  

</div>


<!-- 
<table mat-table [dataSource]="countries" class="mat-elevation-z8">
    <ng-container matColumnDef="capital">
      <th mat-header-cell *matHeaderCellDef> Capital </th>
      <td mat-cell *matCellDef="let element"> {{element.capital}} </td>
    </ng-container>
  
    <ng-container matColumnDef="code">
      <th mat-header-cell *matHeaderCellDef> Code </th>
      <td mat-cell *matCellDef="let element"> {{element.code}} </td>
    </ng-container>
  
    <ng-container matColumnDef="continent">
      <th mat-header-cell *matHeaderCellDef> Continent </th>
      <td mat-cell *matCellDef="let element"> {{element.continent.code}} ,{{element.continent.name}} </td>
    </ng-container>
  
    <ng-container matColumnDef="currency">
        <th mat-header-cell *matHeaderCellDef> Currency </th>
        <td mat-cell *matCellDef="let element"> {{element.currency}} </td>
      </ng-container>

    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

    <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef> Phone </th>
        <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
      </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
   -->