        <div class="col s7">
            <table class="responsive-table highlight">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Position</th>
                        <th>Office</th>
                        <th>Salary</th>
                    </tr>
                </thead>
                <tr *ngFor="let emp of employeeService.employees">
                    <td>{{emp.name}}</td>
                    <td>{{emp.position}}</td>
                    <td>{{emp.office}}</td>
                    <td>{{emp.salary}}</td>
                    <!-- <td>
                        <a class="action-btn" (click)="onEdit(emp)">
                            <i class="material-icons">
                                edit
                            </i>
                        </a>
                        <a class="action-btn" (click)="onDelete(emp._id, employeeForm)">
                            <i class="material-icons">
                                delete
                            </i>
                        </a>
                    </td> -->
                </tr>
            </table>
        </div>