/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300&family=Roboto+Condensed:ital@1&display=swap');


/* Some fonts from google fonts. For example: */
/* body { margin: 0; font-family: 'Roboto Condensed', sans-serif;} */
/* body { margin: 0; font-family: 'Quintessential', cursive;} */
body { margin: 0; font-family: 'Barlow', sans-serif;}
/* body { margin: 0; font-family: 'Yellowtail', cursive;} */
